<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontGnadeX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_pc.css') }}" media="screen and (min-width: 768px)">
</head>
<body>
    <header>
        <div class="hstyle">
            <h1>FGx</h1>
        </div>
        <div style="display: flex; justify-content: center; margin-left: 5%;">
            <div class="navbar-content">FGX P Side</div>
            <div class="navbar-content">회원 등록 하기</div>
            <div class="navbar-content">회원 등록 하기</div>
        </div>
        <div class="navbar-auth navbar-content">
            <div class="navbar-auth-profile">

            </div>
            <div class="navbar-auth-r">
                Admin으로 인증 완료됨
            </div>
        </div>
    </header>
    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    <footer>
        2021 ~ 2023 FGx, All rights reserved.
    </footer>
</body>
</html>