<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2023 2학년 5반</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_pc.css') }}" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_mobile.css') }}" media="screen and (max-width: 767px)">
</head>
<body>
    <!-- Server Build 230318.f| 로그인 관련 오류 수정, 수정 기능 추가 | 알려진 오류 : 닉네임에 공백이 허용됨 -->
    <header>
        <h1 >성보고등학교<br>2학년</h1>
        <div class="navBar">
            <div class="navBox">
                <button class="navPC" onclick="location.href ='/'">메인화면</button>
                <button class="navMobile" onclick="location.href ='/'">메인</button>
            </div>
            <div class="navBox">
                <button class="navPC" onclick="location.href ='/board'">수행평가 목록</button>
                <button class="navMobile" onclick="location.href ='/board'">수행</button>
            </div>
            <div class="navBox">
                {% if session['id'] != NULL %}
                <button class="navPC" onclick="location.href ='/logout'">로그아웃</button> 
                {% else %}
                <button class="navPC" onclick="location.href ='/login'">로그인</button>
                <button class="navMobile" onclick="location.href ='/login'">로그인</button>
                {% endif %}
            </div>
        </div>
        <div class="loginAuth">
            {% if session['id'] != NULL %}
            <a class="pcAuth" href="/auth">{{ session['id'] }} | 마이페이지</a>
            <a class="mobileAuth" href="/auth">{{ session['id'] }}</a>
            <button class="navMobile navBoxMobile" onclick="location.href ='/logout'">로그아웃</button> 
            {% endif %}
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer">
        <span>성보고등학교 | 20501 강동혁 | 개발자 GitHub | 성보고등학교 웹사이트 | Test Build 230318.g</span>
    </footer>
</body>
</html>