<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2023 2학년 5반</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>성보고등학교 2학년 5반</h1>
        <div class="loginAuth" style="display:flex;justify-content: flex-end;">
            <span>테스트 님, 안녕하세요</span><a href="">회원정보 관리</a>
        </div>
        <div class="navBar">
            <div class="allSub navBox">
                <button onclick="location.href ='/'">메인화면</button>
            </div>
            <div class="sciencePlayer navBox">
                <button onclick="location.href ='/board'">수행평가 목록</button>
            </div>
            <div class="login navBox">
                <button onclick="location.href ='/login'">로그인</button>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer style="height:30px; margin-top: 20px; text-align: center; background-color: antiquewhite;">
        <span>개발</span>
    </footer>
</body>
</html>