{% extends "base.html" %}

{% block content %}
<article>
    <h2>수행평가</h2>
    <div>
        {% if data_list %}
        {% for i in data_list %}
        <div class="boardBackgr">
            <div class="boardText">
                <a href="/board/post/{{ i[0] }}" >{{ i[1] }}</a>
                <div>
                    <span>작성자 : {{ i[2] }}</span>
                    <span>게시일 : 03/17</span>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <span>데이터가 없습니다.</span>
        {% endif %}
    </div>
    {% if session['id'] != NULL %}
    <div style="display:flex; justify-content: flex-end; margin-top:20px">
        <button class="btn writeBtn" onclick="location.href='/write'">글쓰기</button>  
    </div>
    {% endif %}
    <div style="text-align: center;">
    {{ pagination.links | safe }}
    </div>
</article>

{% endblock %}