{% extends "base.html" %}

{% block content %}
<article>
    <h2>수행평가</h2>
    <form action="">
        <label for="tam_a">탐구 A</label>
        <select name="tam_a">
            <option value="">선택</option>
            <option value="물리학1" >물리학1</option>
            <option value="화학1">화학1</option>
            <option value="생명과학1">생명과학1</option>
            <option value="지구과학1">지구과학1</option>
        </select>
        <label for="tam_b">탐구 B</label>
        <select name="tam_b">
            <option value="">선택</option>
            <option value="물리학1">물리학1</option>
            <option value="화학1" >화학1</option>
            <option value="생명과학1">생명과학1</option>
            <option value="지구과학1">지구과학1</option>
        </select>
        <label for="tam_c">탐구 C</label>
        <select name="tam_c">
            <option value="">선택</option>
            <option value="물리학1">물리학1</option>
            <option value="화학1">화학1</option>
            <option value="생명과학1">생명과학1</option>
            <option value="지구과학1">지구과학1</option>
        </select>
        <label for="jin_a">진로 A</label>
        <select name="jin_a">
            <option value="">선택</option>
            <option value="융합과학탐구">융합과학탐구</option>
            <option value="생할과과학">생활과 과학</option>
        </select>
        <label for="jin_b">진로 B</label>
        <select name="jin_b">
            <option value="">선택</option>
            <option value="융합과학탐구">융합과학탐구</option>
            <option value="생할과과학">생활과 과학</option>
        </select>
        <label for="lang">제2외국어</label>
        <select name="lang">
            <option value="">선택</option>
            <option value="일본어">일본어</option>
            <option value="중국어">중국어</option>
        </select>
        <button type="submit">선택</button>
    </form>
    <h3>로그인 할 시에는 모든 선택과목이 자동으로 선택됩니다.</h3>
    <div>
        {% if data_list %}
        {% for i in data_list %}
        <div class="boardBackgr">
            <div class="boardText" onclick="location.href='/board/post/{{ i[0] }}'">
                <span class="boardText1">{{ i[6] }} <span style="font-weight: 700; color: rgb(78, 57, 196);">{{ i[7] }}</span> | {{ i[1] }}  | {% if i[5] != '0' %}
                    {% if i[5] > '0' %}
                    <span class="finishDate">기한 만료 </span>D+{{ i[5] }}
                    {% else %}
                    <span class="endDate">D{{ i[5] }}</span>
                    {% endif %}
                    {% else %}
                    <span class="finishDate">마감일!</span>
                    {% endif %}</span></span>
                <div>
                    <span>작성자 : {{ i[2] }}</span>
                    <span>게시 : {{ i[4] }}</span>
                    
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <span>데이터가 없습니다.</span>
        {% endif %}
    </div>
    {% if session['id'] == 'admin' %}
    <div style="display:flex; justify-content: flex-end; margin-top:20px">
        <button class="btn writeBtn" onclick="location.href='/write'">글 쓰기</button>  
    </div>
    {% endif %}
    <div style="text-align: center;">
    </div>
</article>

{% endblock %}