{% extends "base.html" %}

{% block content %}
<article >
     <div class="indexMain">
        <div class="indexLeft">
            <h2>메인화면</h2>
            <img src="{{ url_for('static', filename='sungbo_logo.png') }}">
            <h3>이곳은 성보고등학교 2학년 5반 수행평가 알림 웹사이트 입니다.</h3>
            <span>Flask 및 JavaScript, mySQL 등을 활용해 만들었습니다.</span>
        </div>
        <div class="indexRight">
            <h2>수행평가</h2>
            <div class="boardWrap">
                {% for i in data_list %}
                {% if loop.index <= 5 %}
                <div class="boardBackgr">
                    <div class="boardText" onclick="location.href='/board/post/{{ i[0] }}'">
                        <span class="boardText1">{{ i[1] }}</span>
                        <div>
                            <span>작성자 : {{ i[2] }}</span>
                            <span>게시일 : 추가 예정</span>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</article>
{% endblock %}