{% extends "base.html" %}

{% block content %}
<article>
    <div class="loginScreen">
        <h2>로그인</h2>
        <form method="POST" action="/login">
            <div>
                <label for="username" class="formLabel">아이디<br></label>
                <input type="text" class="formInput" id="id" name="id" placeholder="아이디">
            </div>
            <div>
                <label for="password" class="formLabel">비밀번호<br></label>
                <input type="password" class="formInput" id="password" name="password" placeholder="비밀번호">
            </div>
            <div>
                <button type="submit" class="btn">로그인</button>
            </div>
        <div>
            <span style="color:red;">{{ message }}</span>
        </div>
        <div> 
            <span>자신의 수행평가 기록을 남기고 싶다면? <a href="/register">회원가입</a></span>
        </div>
    </div>
</article>
{% endblock %}