{% extends "base.html" %}

{% block content %}
<article>
    <div style="margin-bottom:10px;">
        <h1>{{ title }}</h1>
        <span >작성자 : {{ writer }}</span>
    </div>
    <div>
        <span>{{ context }}</span>
    </div>
    {% if session['id'] == writer or session['id'] == 'admin' %}
    <div style="display:flex; justify-content: flex-end;">
        <form method = "POST" action="/board/post/{{ id }}/delete" >
            <button class="btn">삭제</button>
        </form>
        <form method = "POST" action="/board/post/{{ id }}/update" style="margin-left: 20px;">
            <button class="btn">수정</button>
        </form>
    </div>
    {% endif %}
</article>
{% endblock %}