{% extends "base.html" %}

{% block content %}
<article>
    <h2>{{title}} | {% if date_d != '0' %}
        {% if date_d > '0'%}
        <span class="finishDate">기한 만료 </span>D+{{date_d}}
        {% else %}
        <span class="endDate">D{{ date_d }}</span>
        {% endif %}
        {% else %}
        <span class="finishDate">마감일!</span>
        {% endif %} </h2>
    <div class="postWrap">
        <div style="margin-bottom:10px;">
            <span >작성자 : {{ writer }}</span>
            <span>게시 : {{ date }}</span>
        </div>
        <div>
            <span>{{ context }}</span>
        </div>
    </div>
    {% if session['id'] == writer or session['id'] == 'admin' %}
    <div style="display:flex; justify-content: flex-end;">
        <form method = "POST" action="/board/post/{{ id }}/delete" >
            <button class="btn">삭제</button>
        </form>
        <form method = "GET" action="/board/post/{{ id }}/update" style="margin-left: 20px;">
            <button class="btn">수정</button>
        </form>
    </div>
    {% endif %}
</article>
{% endblock %}