{% extends "base.html" %}

{% block content %}
<article>
    <h2>회원가입</h2>
    <form method="POST" action="/register">
        <div>
            <label for="id" class="formLabel">아이디</label>
            <input type="text" class="formInput" id="id" name="id" placeholder="아이디" onkeydown="check()">
        </div>
        <div>
            <label for="password" class="formLabel">비밀번호</label>
            <input type="password" class="formInput" id="password" name="password" placeholder="비밀번호" onkeydown="check()" onkeyup="check()">
        </div>
        <div>
            <label for="re-password" class="formLabel">비밀번호 확인</label>
            <input type="password" class="formInput" id="re-password" name="re-password" placeholder="비밀번호 확인" onkeydown="check()" onkeyup="check()">
        </div>
        <div>
            <span style="color:red;">{{ message }}</span>
        </div>
        <button type="submit" disabled class="btn">가입</button>
    </form>
</article>
<script src="{{ url_for('static', filename='script/register.js') }}"></script>
{% endblock %}