{% extends "base.html" %}

{% block content %}
<article>
    <h2>자연계(이과) 수행평가 목록</h2>
    <div class="listArticle">
        <div class="listLeft">
            <button class="listButton">이쪽은 왼쪽이다잉</button>
            <button class="listButton">이쪽은 왼쪽이다잉</button>
            <button class="listButton">이쪽은 왼쪽이다잉</button>
            <button class="listButton">이쪽은 왼쪽이다잉</button>
            <button class="listButton">이쪽은 왼쪽이다잉</button>
        </div>
        <div class="listRight">
            <div class="listRightArticle">
            <span style="font-size: 100px;">이쪽은 오른쪽이다잉</span>
            </div>
        </div>
    </div>
</article>
{% endblock %}