{% extends "base.html" %}

{% block content %}
<article>
    <h2>자연계(이과) 수행평가 목록</h2>
    <div class="listArticle">
        <div class="listLeft">
            <button class="listButton" style="background-color: antiquewhite;">물리 수행평가 | ~3/22</button>
            <button class="listButton">생명 수행평가 | ~3/22</button>
            <button class="listButton">화학 수행평가 | ~3/22</button>
            <button class="listButton">지구 수행평가 | ~3/23</button>
            <button class="listButton">수학 수행평가 | ~3/24</button>
        </div>
        <div class="listRight">
            <div class="listRightArticle">
            <span style="font-size: 100px;"><img style="width:100%; height:100%" src="{{ url_for('static', filename='example2.jpg') }}" alt=""></span>
            </div>
        </div>
    </div>
</article>
{% endblock %}