/* 기본 스타일 */

html {
    font-family: 'Nanum Gothic';
    white-space: normal;
    word-break: break-all;
}
body {
    margin:0;
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2) format('woff2'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2) format('woff2'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
         url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
}
  
a {
    text-decoration: none;
    color: black;
} 

a:hover {
    cursor: pointer;
    animation-name: newAni;
    animation-duration:0.2s;
    animation-duration: leaner;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}


/* 헤더 및 navigation bar*/
header {
    background-color: white;
    margin: 0;
    display: flex;
    border-bottom: 1px;
    border-color: rgb(163, 163, 163);
    border-bottom-style: solid;
}

header h1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 30%;
    font-weight: 800; font-size: 18px;
    padding-top: 20px;
}



.navBar {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.navMobile {
    font-size: 20px;
}
.navPC {
    display: none;
}
.navBox {
    width: 50%;
    height: 100%;
    text-align: center;
}
.navBox button {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    border: 0;
    font-weight: 800;
}
.navBox button:hover {
    
    cursor: pointer;
    animation-name: newAni;
    animation-duration:0.2s;
    animation-duration: leaner;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

.navBoxMobile {
    background-color: white;
    color: black;
    width: 100%;
    height: 70%;
    border: 0;
    font-weight: 800;
}
.navBoxMobile:hover{
    
    cursor: pointer;
    animation-name: newAni;
    animation-duration:0.2s;
    animation-duration: leaner;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

@keyframes newAni {
    0% {
        background-color: white;
    }
    100% {
        
        background-color: rgb(205, 218, 255);
    }
  }

.loginAuth {
    display:flex;
    align-items: center;
    /* text-align: center; */
    flex-direction: column;
    padding-left: 2%;
    width: 28%;
}
.pcAuth {
    display: none;
}

.mobileAuth {
    color: rgb(27, 38, 143);
    font-weight: 700;
    padding-right: 5%;
    display: flex;
    align-items:center;
    height: 80%;
}

/* 화면  기본 스타일*/

article {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30%;
    background-color: rgb(236, 237, 246);
}

article img {
    width: 100%;
}

/* 메인 화면 */

.indexMain {
    display: flex;
    flex-direction: column;
}
.indexLeft {
    width: 100%
}
.boardBackgr {
    display:flex;
    flex-direction:column; 
    padding-top: 5px; 
    padding-left: 2%;
    padding-bottom: 5px; 
    margin-right:10px; 
    width: 89%;
    background-color: white;
}

/* 모바일에서는 메인 화면 이미지 숨김.*/
.indexLeft img{
    display: none;
}

.indexRight {
    width: 100%;
}
/* 수행평가 목록 table - 2*/

.boardForm button{
    border-radius: 20px;
    border: 0;
    margin-top: 20px;
    width: 39%;
    height: 30px;
    background-color: white;
}
.boardForm button:hover {
    cursor: pointer;
    animation-name: newAni3;
    animation-duration:0.15s;
    animation-duration: leaner;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
.boardSelect select {
    height: 30px;
    margin-top: 5px;
    border: 0;
    border-radius: 30px;
    padding: 0 5px 0 5px;
    text-shadow: 0 0 0 #000000;
    font-size: 20px;
    text-align: center;
    font-family: "Nanum Gothic";
}
.boardSelect select:focus {
    outline: 0;
    animation-name: TitleAni;
    animation-duration:0.1s;
    animation-duration: leaner;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

.boardBackgr {
    
    width: 100%;
    border-radius: 20px; 
    margin-bottom: 10px;
}

.boardB {
    background-color: rgb(255, 255, 255);
    margin-bottom: 2%;
}

.boardText {
    display:flex;
    flex-direction:column; 
    padding-left: 10px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-right:10px; 
}
.boardText1 {
    order:0; 
    font-size: 25px;
}
.boardText:hover {
    cursor: pointer;
    animation-name: boardAni;
    animation-duration:0.1s;
    animation-duration: leaner;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
.boardBackgr:hover {
    cursor: pointer;
    animation-name: boardAni;
    animation-duration:0.1s;
    animation-duration: leaner;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}
.endDate {
    color: green;
    font-weight: 700;
}
.finishDate {
    color: Red;
    font-weight: 700;
}
@keyframes boardAni {
    0% {
        background-color: white;
    }
    100% {
        
        background-color: rgb(231, 238, 255);
    }
  }
.boardText div{
    order:1
}

.ckBox input{
    display: none;
}

/* 글쓰기 */

.writeTitle {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 30px;
    padding-left: 10px;
    text-shadow: 0 0 0 #000000;
    font-size: 20px;
}
.writeTitle:focus {
    outline: 0;
    animation-name: TitleAni;
    animation-duration:0.1s;
    animation-duration: leaner;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

.writeWriter {
    height: 25px;
}
.writeInput {
    font-family: "Nanum Gothic";
    padding-left: 10px;
    padding-top: 10px;
    height: 300px;
    width: 100%;
    border: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    resize: none;
}

.writeInput:focus {
    outline: 0;
}
.writeInput:focus {
    outline: 0;
    animation-name: TitleAni;
    animation-duration:0.05s;
    animation-duration: leaner;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

@keyframes TitleAni {
    0% {
        background-color: rgb(231, 238, 255);
    }
    100% {
        
        background-color: rgba(221, 227, 244, 0.533);
        box-shadow: 0 0 2px;
    }
}


/* post 화면 */
.postWrap {
    background-color: white;
    border-radius: 20px;
    padding: 15px 10px 30px 10px;
    margin-bottom: 2%;
}
.postWrap h1{
    margin:0;
}

/* 로그인 및 회원가입 */
.loginScreen {
    text-align: center;
}

.formInput {
    height: 35px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    border:0;
    background-color: rgb(170, 171, 187);
    padding-left: 3%;
}

.btn {
    height: 50px;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    background-color: white;
    border-style: solid;

}

.btn:hover {
    cursor: pointer;
    animation-name: newAni3;
    animation-duration:0.15s;
    animation-duration: leaner;
    animation-iteration-count:1;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

@keyframes newAni3 {
    0% {
        color: black;
    }
    100% {
        background-color: rgb(106, 167, 224);
        color: white;
    }
  }

/* footer */

.footer {
    padding-top: 20px; 
    background-color: rgb(170, 171, 187);
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    text-align: center;
}

.footer span {
    color: rgb(25, 25, 27);
}